server:
  port: 8006

jwt:
  secret: 
  expiration: 
  refreshExpiration: 

spring:
  application:
    name: auth-service
  main:
    banner-mode: off
  profiles:
    active: dev
  datasource:
    url: 
    username: 
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

cors:
  allowed-origins: 
  allowed-methods: 
  allowed-headers: 
  allow-credentials: 

logging:
  file:
    path: ./logs  # Thay đổi từ logging.path thành logging.file.path
    name: ${logging.file.path}/api-gateway.log
  pattern:
    console: "%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}.%M) - %msg%n"
    file: "%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n"
  level:
    root: INFO
    org.springframework: WARN
    org.springframework.cloud: WARN
    org.springframework.security: WARN
    reactor.netty: WARN
    com.flowright.api_gateway: DEBUG
  logback:
    rollingpolicy:
      file-name-pattern: ${logging.file.path}/archived/api-gateway_%d{dd-MM-yyyy}.log
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 3GB